{% extends "core/layout.html" %}

{% load static %}

{% block content %}
        <div class="row row-cols-1 row-cols-md-3 container justify-content-center">
            {% for producto in productos %}
                <div class="col-6 col-md-3 mb-4">
                    <div class="card h-100 card-img-producto-home">
                        <img 
                        class="card-img-top mx-auto"
                        
                        src="{{MEDIA_URL}}{{producto.imagen.url}}"
                        alt="ultimo producto"
                        >
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ producto.titulo.title|truncatechars:28 }}</h4>
                            <p class="card-text ">{{ producto.descripcion.capitalize|truncatechars:50 }}</p>
                            <a href="{% url 'CORE:producto_show' producto.id %}" class="btn btn-success btn-block">Ver</a>

                            {% if user.is_superuser %}
                                <a href="{% url 'CORE:producto_edit' producto.id %}" class="btn btn-outline-secondary btn-block">Editar</a>
                                <a href="{% url 'CORE:producto_delete' producto.id %}" class="btn btn-outline-danger btn-block">Eliminar</a>
                            {% endif %}

                        </div>
                    </div>
                </div>

            {% empty %}
            <div class="col-12 p-0 m-0">
                No hay productos agregados
            </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}