{% extends "core/layout.html" %}

{% load static %}

{% block content %}
<div class="row my-5 container">

    <div class="col-10 mx-auto">
        <div class="row border">

            <div class="col-md-5 p-0 ">
                <img style="color: white;" src="{{MEDIA_URL}}{{producto.imagen.url}}" alt="{{producto.titulo}}" class="img-fluid w-100">
            </div>

            <div class="col-md-7 p-4 d-flex flex-column justify-content-between">
                <div class="detalle-producto-content__text">
                    <h1 style="color: white;" class="display-4 text-capitalize">{{ producto.titulo }}</h1>

                    <h2 style="color: white;" class="display-4 text-capitalize mb-3">Categoria: {{ producto.categoria.descripcion }}</h2>

                    <p style="color: white;">{{ producto.descripcion.capitalize }}</p>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <p style="color: white;"  class="m-0">
                        <strong style="color: white;" >Precio:</strong>
                        ${{ producto.precio }}
                    </p>
                    <form action="{% url 'CORE:carrito_save' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ producto.id }}">
                        {% if user.is_superuser or not user.is_authenticated %}
                            <button type="submit" class="btn btn-success" disabled>Agregar al carrito</button>
                        {% else %}
                            <button type="submit" class="btn btn-success" >Agregar al carrito</button>
                        {% endif %}
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}